/*
** Print
** Settings
*/
@media print {
*, *:before, *:after {
	color: #000 !important;
	text-shadow: none !important;
	background: transparent !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
a, a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: " (" attr(href) ")";
}
abbr[title]:after {
	content: " (" attr(title) ")";
}
a[href^="#"]:after, a[href^="javascript:"]:after {
	content: "";
}
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr, img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
p, h2, h3 {
	orphans: 3;
	widows: 3;
}
h2, h3 {
	page-break-after: avoid;
}
.navbar {
	display: none;
}
.btn > .caret, .dropup > .btn > .caret {
	border-top-color: #000 !important;
}
.label {
	border: 1px solid #000;
}
.table {
	border-collapse: collapse !important;
}
.table td, .table th {
	background-color: #fff !important;
}
.table-bordered th, .table-bordered td {
	border: 1px solid #ddd !important;
}

body .page-header, .page-header.vertical-height-no-overlay, .single .page-header .cover {
padding:0px !important;	
background:none !important;
}
.width50, .page-header .width50 {width:100% !important;}

#comments, .sidebar, .feeds-container, #footer, .bydesignreligion, .sidebar .wpb_single_image, .sidebar .select-block   {display:none;}

.single-office .sidebar  {
width:100% !important; display:block;	
height:auto;
padding:0px !important;
margin:0px !important
}
#main {width:100% !important}
}
address {
	margin-bottom: 20px;
	font-style: normal;
	line-height: 1.42857143;
}
code, kbd, pre, samp {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}
kbd {
	padding: 2px 4px;
	font-size: 90%;
	color: #fff;
	background-color: #333;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}
kbd kbd {
	padding: 0;
	font-size: 100%;
	font-weight: bold;
	-webkit-box-shadow: none;
	box-shadow: none;
}
pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}
pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}
.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll;
}

/*
** Utility
** Settings
*/
.white-bar, .grey-bar {
  display: block;
  float: left;
  margin: 10px 0;
  padding: 10px 30px;
  width:100%;
  }

.white-bar {
  background: #fff none repeat scroll 0 0;

}

.grey-bar {background:#eeeeee;  padding: 30px 30px;
}
.white-bar .pagination-wrap, .white-bar .pagination, .grey-bar .pagination-wrap, .grey-bar .pagination {margin:0px;}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}
.small-vertical-height {
	padding: 20px 0px;
}

.page-header.vertical-height, .has-post-thumbnail .page-header .cover, .has-post-thumbnail.page-header .cover {
  padding: 50px 0 100px;
}
.vertical-height-no-overlay, .vertical-height-no-overlay.has-post-thumbnail.page-header .cover , .vertical-height, body.main.disclaimer1.home .site-content .page-header .cover, body.main.disclaimer2.home .site-content .page-header .cover{
	  padding: 50px 0 28px 0;

}
.has-post-thumbnail .page-header, .has-post-thumbnail.page-header {
padding:0px;	
}
.sr-only, .screen-reader-text, time.updated {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.entry-date.published {margin-right:3px;}
.sr-only-focusable:active, .sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}
[role="button"] {
 cursor: pointer;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
	display: table;
	content: " ";
}
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
	clear: both;
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}



.border-right {
		border-right:1px solid #dddddf;
}

.border-top {
		border-top:1px solid #dddddf;
}


.border-left {
		border-left:1px solid #dddddf;
}

.border-bottom {
		border-bottom:1px solid #dddddf;
}


.no-pad-bottom {padding-bottom:0px !important;}
.gateley-capitas {max-width:160px;}
.pr30 { padding-right:30px; }
.mt5 {margin-top:5px;}

.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}

.mt20 {margin-top:20px;}
.mt30 {
	margin-top: 30px;
}
.mb0 {margin-bottom:0px !important;}
.pb0 {padding-bottom:0px !important;}

.mb10 {margin-bottom:10px !important;}

.mb20 {margin-bottom:20px !important;}
.mb30 {
	margin-bottom: 30px !important;
}

.mb-30 {
	margin-bottom: -30px !important;
}
.mb-40 {
	margin-bottom: -40px !important;
}
.pl10 {padding-left:10px}
.pr10 {padding-right:10px}

.pl20 {padding-left:20px}
.pr20 {padding-right:20px}


.pl30 {padding-left:30px}
.pr30 {padding-right:30px}


.pl40 {padding-left:40px}
.pr40 {padding-right:40px}


.pb30 {padding-bottom:30px}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.invisible {
	visibility: hidden;
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.text-white {color:#fff;}
.hidden {
	display: none !important;
}
.affix {
	position: fixed;
}
@-ms-viewport {
 width: device-width;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg {
	display: none !important;
}
.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
	display: none !important;
}
@media (max-width: 767px) {
.visible-xs {
	display: block !important;
}
table.visible-xs {
	display: table !important;
}
tr.visible-xs {
	display: table-row !important;
}
th.visible-xs, td.visible-xs {
	display: table-cell !important;
}
}
@media (max-width: 767px) {
.visible-xs-block {
	display: block !important;
}
}
@media (max-width: 767px) {
.visible-xs-inline {
	display: inline !important;
}
}
@media (max-width: 767px) {
.visible-xs-inline-block {
	display: inline-block !important;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.visible-sm {
	display: block !important;
}
table.visible-sm {
	display: table !important;
}
tr.visible-sm {
	display: table-row !important;
}
th.visible-sm, td.visible-sm {
	display: table-cell !important;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.visible-sm-block {
	display: block !important;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.visible-sm-inline {
	display: inline !important;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.visible-sm-inline-block {
	display: inline-block !important;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
.visible-md {
	display: block !important;
}
table.visible-md {
	display: table !important;
}
tr.visible-md {
	display: table-row !important;
}
th.visible-md, td.visible-md {
	display: table-cell !important;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
.visible-md-block {
	display: block !important;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
.visible-md-inline {
	display: inline !important;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
.visible-md-inline-block {
	display: inline-block !important;
}
}
@media (min-width: 1200px) {
.visible-lg {
	display: block !important;
}
table.visible-lg {
	display: table !important;
}
tr.visible-lg {
	display: table-row !important;
}
th.visible-lg, td.visible-lg {
	display: table-cell !important;
}
}
@media (min-width: 1200px) {
.visible-lg-block {
	display: block !important;
}
}
@media (min-width: 1200px) {
.visible-lg-inline {
	display: inline !important;
}
}
@media (min-width: 1200px) {
.visible-lg-inline-block {
	display: inline-block !important;
}
}
@media (max-width: 767px) {
.hidden-xs {
	display: none !important;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.hidden-sm {
	display: none !important;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
.hidden-md {
	display: none !important;
}
}
@media (min-width: 1200px) {
.hidden-lg {
	display: none !important;
}
}
.visible-print {
	display: none !important;
}
@media print {
.visible-print {
	display: block !important;
}
table.visible-print {
	display: table !important;
}
tr.visible-print {
	display: table-row !important;
}
th.visible-print, td.visible-print {
	display: table-cell !important;
}
}
.visible-print-block {
	display: none !important;
}
@media print {
.visible-print-block {
	display: block !important;
}
}
.visible-print-inline {
	display: none !important;
}
@media print {
.visible-print-inline {
	display: inline !important;
}
}
.visible-print-inline-block {
	display: none !important;
}
@media print {
.visible-print-inline-block {
	display: inline-block !important;
}
.hidden-print {
	display: none !important;
}
}
/* 
** Close
** Settings
*/



.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}
.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .5;
}
button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
}
/* 
** Embed
** Settings
*/


.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
}
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
	padding-bottom: 75%;
}
@media(min-width:768px) {
.width50 {
width:50% !important;	
}
}